@import './../global/mixins/flex';
@import './../global/variables/variables';

.infoCard {
  @include flex;
  @include flex-justify-align(center, center);
  flex-wrap: wrap;
  height: 100vh;

  @media all and (max-width: 1280px) {
    height: auto;
    padding-top: 10rem;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    width: 100%;
  }

  &__box {
    @include flex-justify-align(center, center);
    flex-basis: 80%;
    width: 50%;
    padding-left: 15rem;
    flex-wrap: wrap;

    @media (min-width: 1025px) and (max-width: 1280px) {
      @include flex-wrap;
      flex-direction: column-reverse;
      padding: 0;
      text-align: center;
      flex-basis: 50%;
      width: 50%;
      margin-bottom: 10rem;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      @include flex-wrap;
      flex-direction: column-reverse;
      padding: 0;
      text-align: center;
      flex-basis: 50%;
      width: 50%;
    }
    @media (min-width: 481px) and (max-width: 767px) {
      @include flex-wrap;
      flex-direction: column-reverse;
      padding: 0;
      text-align: center;
      flex-basis: 50%;
      width: 50%;
    }
    @media (min-width: 481px) and (max-width: 767px) {
      flex-basis: 65%;
    }
    @media (min-width: 320px) and (max-width: 480px) {
      @include flex-wrap;
      flex-direction: column-reverse;
      padding: 0;
      text-align: center;
      flex-basis: 65%;
      margin-top: 5rem;
    }

    &__textHolder {
      @include flex-wrap;
      flex-basis: 50%;
      display: flex;
      @media (min-width: 320px) and (max-width: 1280px) {
        flex-basis: 100%;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      h2,
      p,
      button {
        margin: 2rem 0;
        @media (min-width: 481px) and (max-width: 767px) {
          margin: 3rem 0;
        }
      }

      &__button {
        transition: .4s;
        border-style: solid;
        cursor: pointer;

        &--green {
          border-color: $greenDark;
        }

        &--red {
          border-color: $redDark;
        }

        &--blue {
          border-color: $blueDark;
        }
      }

      &__title {
        @include flex-basis(100%);
        font-weight: 100;
        text-transform: uppercase;
        font-size: 4.5rem;

        @media all and (max-width: 1366px) {
          font-size: 3rem;
        }
      }

      &__line {
        height: 0.1rem;
        width: 80%;
        background-color: black;
        position: relative;
        @media (min-width: 320px) and (max-width: 1280px) {
          width: 100%;
        }

        &::before {
          content: '';
          position: absolute;
          height: 0.3rem;
          width: 14rem;
          background-color: $greenDark;
          top: -0.1rem;
          left: 0;
          @media (min-width: 320px) and (max-width: 1280px) {
            left: 50%;
            transform: translateX(-50%);
          }
        }

        &--red {
          &::before {
            background-color: $redDark;
          }
        }

        &--blue {
          &::before {
            background-color: $blueDark;
          }
        }
      }

      &__description {
        font-size: 1.6rem;
        line-height: 3.2rem;
        flex-basis: 80%;
        @media (min-width: 320px) and (max-width: 1280px) {
          flex-basis: 100%;
        }
      }

      &__button {
        text-transform: uppercase;
        padding: 2rem 4rem;
        border-radius: 0;
        background: transparent;
        display: flex;
        font-size: 1.8rem;
        transition: .4s;

        &--blue {
          &:hover {
            background-color: $blueDark;
            border-color: $blueDark;
          }
        }

        &--red {
          &:hover {
            background-color: $redDark;
            border-color: $redDark;
          }
        }

        &--green {
          &:hover {
            background-color: $greenDark;
            border-color: $greenDark;
          }
        }

        &:hover {
          color: #fff;
          a {
            color: #fff;
          }

          .infoCard__box__textHolder__button__line {
            background-color: #fff;
          }

          .infoCard__box__textHolder__button__line::after {
            background-color: #fff;
          }
        }

        a {
          font-size: 1.8rem;
          text-transform: uppercase;
          transition: .4s;
          color: #000;
        }
        // flex-basis: 30%;
        @media (min-width: 1025px) and (max-width: 1280px) {

        }

        &__line {
          display: block;
          height: 0.1rem;
          width: 4rem;
          background-color: black;
          margin: 0.8rem 0 0 2rem;
          position: relative;
          transition: .4s;

          &::after {
            transition: .4s;
            content: '';
            position: absolute;
            height: 0.3rem;
            width: 2.5rem;
            background-color: $greenDark;
            top: -0.01rem;
            left: 2.5rem;
          }

          &--red {
            &::after {
              background-color: $redDark;
            }
          }

          &--blue {
            &::after {
              background-color: $blueDark;
            }
          }
        }
      }
    }

    &__imgHolder {
      flex-basis: 50%;
      width: 50%;
      height: 400px;
      position: relative;
      @media (min-width: 1025px) and (max-width: 1280px) {
        height: 300px;
        flex-basis: 100%;
      }
      @media (min-width: 481px) and (max-width: 767px) {
        margin-bottom: 2rem;
      }
      @media all and (max-width: 768px) {
        height: 250px;
      }

      img {
        // width: 90%;
        // height: 90%;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        object-fit: contain;
        height: 400px;

        @media all and (max-width: 1366px) {
          width: 80%;
        }
        @media (min-width: 320px) and (max-width: 767px) {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &--right {
      .infoCard__box__textHolder {
        order: 1;

        @media all and (max-width: 1280px) {
          order: 0;
        }
      }
      .infoCard__box__imgHolder {
        display: flex;
        justify-content: center;
      }
    }
  }
}

// .infoCard__box:not(.infoCard__box--right) {
//   img {
//     transition: 1s;
//     &.faded {
//       opacity: 0;
//     }

//     &.active {
//       opacity: 1;
//     }
//   }
// }

// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//   }
//   50% {
//     opacity: 1;
//   }

//   100% {
//     opacity: 0;
//   }
// }

// @keyframes fadeOut {
//   0% {
//     opacity: 1;
//   }
//   50% {
//     opacity: 0;
//   }

//   100% {
//     opacity: 1;
//   }
// }