$blackLight: #131212;
$blackDark: #201b1b;
$whiteDark: #f9f9f9;
$whiteLight: #ffffff;
$grayLight: #e8e8e8;
$grayDark: #d9d9d9;
$brownLight: #bca776;
$orangeLight: #c9874d;
$blueDark: #486ee8;
$greenDark: #489234;
$redLight: #d48585;
$redDark: #a43030;
$blueLight: #44f8d8;
