$blackLight: #131212;
$blackDark: #201B1B;
$whiteDark: #F9F9F9;
$whiteLight: #FFFFFF;
$grayLight: #E8e8e8;
$grayDark: #d9d9d9;
$brownLight: #BCA776;
$orangeLight: #EFAF4F;
$blueDark: #486EE8;
$greenDark: #489234;
$redLight: #D48585;
$redDark: #A43030;
$blueLight: #44F8D8;